body {
	background-image: url(https://www.pixeden.com/media/k2/galleries/136/002-subtle-light-pattern-background-texture.jpg);
}

h1 {
	color: #b70d0d;
	font-size: 50px;
	font-family: calibri
}

p {
	font-weight: normal;
	width: 500px;
	text-align: : justify;
}

blockquote {

	    	width: 500px;
			text-align: : justify;
		}

a {

}

img {
			
	border: 20px solid black;
	width: 500px;

}