body {
	background-image: url(https://www.pixeden.com/media/k2/galleries/136/002-subtle-light-pattern-background-texture.jpg);
}

h1 {
    color: #7b3a22;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
}

p {
	font-weight: normal;
	width: 540px;
	text-align: justify;
}

blockquote {
	width: 500px;
	text-align: justify;
}


a {
	text-decoration: none;
	color: red;
	font-size: 15px;
	font-family: Comic ;
	padding: 10px;
	transition: 1s ease-in-out;
	display: table-row;
}

a:hover {
	color: purple;
}

img {

	border: 20px solid black;
	width: 500px;
}
